alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias la="ls -a"

alias sbrc="source ~/.bashrc"

alias g="git"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gcm="git commit -m"
alias gpob='git push origin $(git branch --show-current)'
alias gg="git graph"
alias gr="git restore"

alias v="vim"
alias vtd="vim to-do.md"
alias jl="jupyter lab"

alias python='python3'
alias pip='pip3'

alias pr='pipenv run'

alias cdd='cd ~/Documents'
alias cdp='cd ~/Documents/programs'
alias cdP='cd ~/Documents/Programming_notes'
alias cdj='cd ~/Documents/job_applications'
alias cdds='cd ~/Documents/data-science-projects'
alias cdph='cd ~/Documents/programs/homcv'
alias cdpj='cd ~/Documents/programs/jers_ml_tools'
alias cdw='cd ~/Documents/writing/docs'
alias cddd='cd ~/Documents/dotfiles'
alias cdPc='cd ~/Documents/Programming_Notes/cpp/'

alias firefox="open -a 'firefox'"

