sample_dotfiles/
.config/zsh/.zcomp*
.config/zsh/zsh_history*
.config/nvim/plugged
.config/nvim/.netrwhist*
.config/nvim/plugged
.config/configstore
.config/ipython/profile_default/history*
.config/nvim/spell
.config/task/.task
.config/aliases/local_file_aliases
.config/gh/hosts.yml
.config/zsh/plugin
.config/fzf/fzf
.config/nvim/plugin/packer_compiled.lua
.config/aliases/local_aliases
.config/linode-cli
.config/gatsby
.config/glab-cli
.config/lazygit/state.yml
